.right-bar{
    flex: 3.5;
    
}

.right-bar-wrapper{
    padding: 20px;
}

.git-continer{
    display: flex;
    align-items: center;
    
}

.add-image{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0px;
}

b{
    cursor: pointer;
}

.git-contain-text{
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
}

.gif-imge{
    width: 45px;
    height: 45px;

}

.online-friend-text{
    font-size: 15px;
    font-weight: 500;
}

.friend-list-ui{
    margin: 0;
    padding: 0;
    
}

/* -------------------------profileRightBar-------------------------------------- */
.user-title{
    font-size: 20px;
    font-weight: 600;
}

.userInfoItems{
    margin-bottom: 20px;
    font-weight: 500;
   
}

.user-info-value{
    margin-left: 15px;
    font-weight: 300;
}
.users-friend-image{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}


.user-friends-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.users-friends-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.users-friends-name{
    font-size: 12px;
    margin-top: 10px;
}